body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 60px; /* Adjust this value based on the height of your footer */
}

footer {
    height: 60px; /* Adjust this value based on the height of your footer */
    background-color: black;
}

.custom-navbar {
    background-color: black; /* Change this to your desired header background color */
    color: white; /* Change this to your desired header text color */
}

.nav-link:hover {
    color: #004F3B; /* Change this to the color you want */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 10rem;
    line-height: inherit;
}

.naval-bar {
    flex-direction: column;
}

.footer {
    background-color: black;/* Change background color to black */
    color: #fff; /* Change text color to white */
    padding: 20px 0;
}

    .footer h5 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .footer p {
        margin-bottom: 0.5rem;
    }

    .footer .input-group {
        max-width: 400px;
    }

        .footer .input-group .form-control {
            border-radius: 0;
        }

        .footer .input-group .btn {
            border-radius: 0;
        }

    .footer a {
        color: #fff; /* Change link color to white */
    }

        .footer a:hover {
            color: #ccc; /* Change link hover color to light gray */
        }
